body {
    background-color: rgb(12, 12, 22);
}

#navigation-bar {
    display: flex;
    justify-content: space-between;
}

#logo {
    height: min-content;
    margin-top: 0;
}

#navigation {
    display: flex;
}

#navigation>a {
    text-decoration: none;
    padding: 8px;
}

#navigation:hover {
    color: red;
}

.input-section {
    display: flex;
    flex-direction: column;
}

.input-field {
    outline: none;
    border-radius: 8px;
    border: solid black;
    padding: 10px 10px;
}

.input-field:focus {
    border: solid blue;
}

.my-button {
    background-color: darkolivegreen;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 8px 8px;
    cursor: pointer;
}

.my-button:hover {
    background-color: rgb(42, 55, 19);
}

.my-button:active {
    background-color: rgb(23, 32, 8);
    transform: translateY(8px);
}